<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./src/css/style.css">
  <script defer src="./src/js/index.js"></script>
  <title>Angular_JS</title>
</head>

<body ng-app ng-init="name='ivan'" ng-random-color>

    <p class="bind_text">ng-bind:</p> <p ng-bind="name" class = 'ng_bind'></p>
    <input ng-model="name"/>
    <p ng-make-short length='23' class="ng_make_short">ng-make-short: qqq qqq qqq qqq qqq qqq qqq</p>
    <button ng-click = 'name = "vasya"' class = 'ng_click'>name = vasya</button>
    <button ng-click = 'name = "ivan"' class = 'ng_click'>name = ivan</button>
    <p ng-hide="name ==='vasya'" class = 'ng_hide'>ng-hide    (false)</p>
    <p ng-show="name === 'vasya'" class = 'ng_show'>ng-show (true)</p>
    <li ng-repeat="letter in name"></li>
</body>
</html>